<template>
  <div class="chats-list">
    <ChatListHeader :count="chats.length"/>
    <ul class="chats-list__ul">
      <ChaLink v-for="(chat, index) in chats" :key="index" :chat="chat" :isActive="Number($route.params.id) === chat.id"/>
    </ul>
  </div>
</template>

<script src="./chats-list.ts"></script>

<style lang="scss">
  .chats-list {
    width: 300px;
    height: 100%;
    overflow: hidden;
    background: #F3F6F8;
  }

  .chats-list__ul {
    padding: 0;
    margin: 0;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>
