<template>
  <div class="page404">
    <h1 class="title">Страница не найдена</h1>
  </div>
</template>

<style lang="scss">
  .page404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
