<template>
  <div class="empty">
    <h1 class="empty__title">Сообщений нет</h1>
  </div>
</template>

<style lang="scss">
  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .empty__title {
    margin: 0;
  }
</style>
