<template>
  <div class="chat" ref="chat">
    <div class="chat__messages">
      <message v-for="(message, index) in chat.messages"
               :key="index"
               :message="message"
               :isCurrent="message.user.id === user.id"/>
    </div>
    <TextField :isLoading="isLoading" :text="text" @addMessage="addMessage" @updateMessageText="updateMessageText"/>
  </div>
</template>

<script lang="ts" src="./chat.ts"></script>

<style lang="scss">
  .chat {
    width: 100%;
    height: 100%;
  }

  .chat__messages {
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 44px 16px 44px 16px;
  }
</style>
