<template>
  <button :disabled="disabled"
          :style="{'width' : width, 'height': height }"
          class="btn"
          @click="$emit('click')">
    <slot v-if="!isLoading"/>
    <loader v-else/>
  </button>
</template>

<script lang="ts">
  import {Vue, Component, Prop} from "vue-property-decorator";
  import loader from "@/components/loader.vue";

  @Component({
    components: {
      loader,
    }
  })
  export default class Btn extends Vue {
    @Prop() width: string;
    @Prop() height: string;
    @Prop() disabled: boolean;
    @Prop({default: false}) isLoading: boolean;
  }
</script>

<style lang="scss">
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: #398BFF;
    padding: 0;
    transition: 100ms all linear;
  }

  .btn[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }

  .btn:focus {
    outline: none;
  }

  .btn:active {
    outline: none;
  }
</style>
