<template functional>
  <div :style="{'width' : props.size, 'height': props.size, 'border-color': props.color,
  'border-top-color': 'transparent', 'border-right-color': 'transparent'}"
       class="loader"></div>
</template>

<style lang="scss">
  .loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-radius: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    animation: loader_rotate 1s infinite linear;
  }

  @keyframes loader_rotate {
    from {
      transform: rotate(0);
      opacity: 1;
    }

    25% {
      transform: rotate(90deg);
      opacity: 0.75;
    }

    50% {
      transform: rotate(180deg);
      opacity: 0.5;
    }

    75% {
      transform: rotate(270deg);
      opacity: 0.75;
    }

    to {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
</style>
