<template>
  <div @keyup.enter="addMessage" class="textfield">
    <input :readonly="isLoading" class="input textfield__input" :value="text" @input="$emit('updateMessageText', $event)" placeholder="Введите текст...">
    <btn :isLoading="isLoading" width="80px" :disabled="!isValidText" @click="addMessage">
      <letter/>
    </btn>
  </div>
</template>

<script src="./textfield.ts"></script>

<style lang="scss">
  .textfield {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .textfield__input {
    width: calc(100% - 80px);
    padding: 30px 33px;
    border-top: 1px solid #E9EDF2;
  }

  .textfield__input::placeholder {
    color: #7D8790;
    font-size: 14px;
  }
</style>
