<template functional>
  <div>
    <div class="chats-list__header" v-if="props.count">
      <div class="chats-list__header-title">Сообщения</div>
      <div class="chats-list__header-count">{{props.count}}</div>
    </div>
    <div class="chats-list__header" v-else>
      <div class="chats-list__header-title">Сообщений нет</div>
    </div>
  </div>
</template>

<style lang="scss">
  .chats-list__header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #E9EDF2;
  }

  .chats-list__header-title {
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #656B77;
  }

  .chats-list__header-count {
    font-size: 14px;
    line-height: 20px;
    color: #D2D8DE;
  }
</style>
