<template functional>
  <li class="chat-link">
    <router-link :to="'/chat/' + props.chat.id" :class="['chat-link__item', {'chat-link__item_active' : props.isActive}]">
      <div class="chat-link__header">
        <div class="chat-link__subject">{{ props.chat.subject }}</div>
        <div :class="['chat-link__created', {'chat-link__created_active' : props.isActive}]">{{ props.chat.created | date }}</div>
      </div>
      <div class="chat-link__preview">{{props.chat.preview}}</div>
    </router-link>
  </li>
</template>

<style lang="scss">
  .chat-link__item {
    display: block;
    padding: 21px 20px 12px 23px;
    border-bottom: 1px solid #E9EDF2;
    color: #35383D;
    text-decoration: none;
    position: relative;
    transition: 200ms all linear;
    height: 100px;
  }

  .chat-link__item:hover::after {
    opacity: 1;
  }

  .chat-link__item::after {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    background: #398BFF;
    height: 100%;
    z-index: 5;
    top: 0;
    opacity: 0;
    transition: 200ms all linear;
  }

  .chat-link__item_active {
    background: #FFF;
  }

  .chat-link__item_active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    background: #398BFF;
    height: 100%;
    z-index: 5;
    top: 0;
    opacity: 1;
  }

  .chat-link__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 6px;
  }

  .chat-link__subject {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }

  .chat-link__created {
    color: #B7C0C8;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
  }

  .chat-link__created_active {
    color: #7D8790;
  }

  .chat-link__preview {
    color: #7D8790;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
</style>
