<template>
  <div id="app" class="app">
      <ChatsList :chats="chatsList"/>
      <main class="main">
        <div v-if="isLoading" class="main__loader">
          <loader color="#398BFF" size="100px"/>
        </div>
        <router-view/>
      </main>
  </div>
</template>

<script lang="ts" src="./app.ts"></script>

<style lang="scss">
  // App

  .app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
  }
</style>
