// Fonts

@font-face {
  font-family: "TT Norms Reg";
  src: url("assets/fonts/TTNorms-Regular.ttf");
}

// Main styles

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "TT Norms Reg", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #35383D;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 680px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.main__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.title {
  font-size: 28px;
  margin: 0;
}

.input {
  border: none;
  padding: 0;
  background: #FFF;
  font-family: "TT Norms Reg", Helvetica, Arial, sans-serif;
}

.input:focus {
  outline: none;
}
