<template functional>
  <div :class="['message', {'message_left' : props.isCurrent}]">
    <div class="message__item">
      <div :class="['message__body', {'message__body_left' : props.isCurrent}]">
        {{props.message.text}}
      </div>
      <div :class="['message__info', {'message__info_left' : props.isCurrent}]">
        <div class="message__name">{{props.message.user.name}}</div>
        <div class="message__date">{{props.message.created | dateMessage}}</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  .message {
    display: flex;
    justify-content: flex-end;
  }

  .message_left {
    justify-content: flex-start;
  }

  .message:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .message__item {
    width: 100%;
    max-width: 380px;
  }

  .message__body {
    padding: 18px 17px 16px 26px;
    background: #E9F5F4;
    border-radius: 8px 8px 0 8px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .message__body_left {
    border-radius: 8px 8px 8px 0;
    background: #F6F7F9;
  }

  .message__info {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }

  .message__info_left {
    justify-content: flex-start;
  }

  .message__name {
    margin-right: 12px;
    font-size: 13px;
    color: #000000;
  }

  .message__date {
    color: #B7C0C8;
    font-size: 10px;
  }
</style>
